{% extends "base.html" %}
{% block content %}
    <form class="form-card" method="post">
        <div class="confirm-message">Update masterpiece <strong>"{{ masterpiece.title }}"</strong>.</div>
        {% csrf_token %}
        <p>{{ form.as_p }}</p>
        <input type="submit" value="Update" class="btn btn-lg btn-primary">
        <span><a class="btn btn-secondary btn-lg" role="button"
                 href="{% url 'masterpieces:masterpiece-detail' pk=masterpiece.pk %}">
            Cancel
        </a></span>
    </form>
{% endblock %}